<div class="container">
    <img src="/images/cinema.jpg" alt="cinema" style="width:100%">

    <div class="right-justify">
        <h1>Cinema <br> Ironhack</h1>
        <a href="/movies">Check the movies!</a>
    </div>

</div>